
Barcoder/.vs/Barcoder/v16/.suo
*.pdb
DBH/bin/Debug/Barcoder.pdb
DBH/bin/Debug/DBH.application
DBH/bin/Debug/DBH.exe.config
DBH/bin/Debug/DBH.exe.manifest
DBH/bin/Debug/DBH.pdb
DBH/bin/Debug/Barcoder.exe.config
DBH/bin/Debug/app.publish/DBH.exe
DBH/obj/Debug/DBH.pdb
DBH/obj/Debug/DBH.pdb
DBH/obj/Debug/DBH.exe.manifest
DBH/obj/Debug/DBH.csproj.GenerateResource.cache
DBH/obj/Debug/DBH.application
Barcoder/.vs/Barcoder/v16/.suo
Barcoder/.vs/Barcoder/v16/.suo
Barcoder/obj/Debug/Barcoder.csproj.AssemblyReference.cache
DBH/bin/Debug/DBH.exe
DBH/obj/Debug/DBH.application
DBH/obj/Debug/DBH.csproj.AssemblyReference.cache
DBH/obj/Debug/DBH.exe
DBH/obj/Debug/DBH.exe.manifest
DBH/obj/Debug/DBH.pdb
